@media screen and (max-width:576px){
    .nav-container{
        flex-direction: column;
    }
    .menu-container{
        flex-direction: column;
    }
    .menu-container a{
        margin-top: 20px;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-text, .banner-image{
        width: 100%;
        margin-bottom: 20px;
    }
}