@media screen and (max-width:576px){
    .nav-container{
        flex-direction: column;
    }
    .menu-container{
        flex-direction: column;
    }
    .menu-container a{
        margin-top: 20px;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-text, .banner-image{
        width: 100%;
        margin-bottom: 20px;
    }
    .flex-container{
        flex-direction: column;
        
    }
    .funny-videos{
        width: 100%;
    }
    .play-instantly-container{
        flex-direction: column;
    }
    .download-text, .anniversary-img, .anniversary-img img{
        width: 90%;
    }
    .button-container{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       
    }
    .info{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}