@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

nav {
    background-color: #FFF;
}

.nav-container {

    min-height: 40px;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}




.logo-container {

    display: flex;

    width: 50%;
}

.logo-container img {

    width: 50px;

    margin-right: 20px;
    object-fit: contain;


}

.logo-name {
    color: rgba(255, 66, 165, 1);
}

.logo-container p {
    font-size: 2rem;
    font-weight: 700;

}

.menu-container {

    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-container a {
    text-decoration: none;
}

.follow-us-btn {
    border: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    font-weight: 500;
}

.icon {
    margin-right: 5px;
    color: red;
}

/* nav design finished here  */

.banner-parent{
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.banner-container {
    
    max-width: 1200px;
    min-height: 40px;
    margin: 0 auto;
    display: flex;
}

.banner-text {
    
    width: 50%;
    text-align: center;
}

.banner-image {
    
    width: 50%;
}

.banner-image img {
    width: 100%;
    height: auto;
}

.banner-text h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


    font-size: 4rem;

    font-weight: 800;


}

.banner-text h2 {
    color: #0B0223;

    font-size: 2rem;

    font-weight: 600;
   


}

.banner-text p {
    color: #534C64;


    font-size: 1.2rem;
    font-weight: 500;


}

.btn-primary {
    border: 0;
    border-radius: 48px;
    background:  linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 15px 25px;
}
.btn-simple{
    border: 0;
    border-radius: 48px;
background: #4EC5F7;
padding: 15px 30px;
}
/* banner design finished here  */
.flex-container{
    display: flex;
    gap: 20px;
    
    max-width: 1200px;
    margin: 50px auto 0;
    min-height: 300px;
    
    
}
.funny-videos{
    width: 25%;
   
}
.funny-videos img{
    width: 100%;
    border-radius: 16px;
}
.funny-videos p{
    color: #534C64;

font-size: 1.2rem;

font-weight: 500;

}
.unknown-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;



font-weight: 700;

}
/* funny video section finished  */
